.footer {
  background-color: #6A737A;
  padding-top: 80px;
  .container {
    flex-direction: column;

  }
  .footer__head {
    display: flex;
    flex-direction: row;
    width: 100%;
    .logos__container {
      width: 132px;
      text-align: center;
      .social__logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        padding-top: 39px;

      }
    }
    .lists__container {
      display: flex;
      column-gap: 50px;
      color: #fff;
      padding-left: 120px;
      padding-right: 89px;
      .list-title {
        font-size: 1.12rem;
        line-height: 1.7rem;
        font-weight: 400;
        padding-bottom: 15px;
      }
      .list-item {
        font-size: .88rem;
        line-height: 1rem;
        padding-bottom: 10px;
      }
      .marketing-contacts {
        padding-top: 22px;
      }
      .trading-contacts {
        padding-top: 49px;
      }
      .site-navigation {
        .site-navigation__link {
          color: #fff;
          position: relative;
          cursor: pointer;

          &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            width: 0;
            background-color: #fff;
            bottom: -1px;
            transition: .3s;
          }

          &:hover {
              &:after {
                width: 100%;
                transition: .6s;
              }
          }
        }
      }

    }
    .footer-inputs__container {
      .inp {
        width: 262px;
        height: 54px;
        color: #fff;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: .88rem;
        cursor: pointer;
        transition: .3s;
        padding-left: 20px;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
        }

      }
      .footer-btn {
        display: none;
      }
      .footer-inp__watch {
        background-color: #6B97BB;
        &:after {
          background: url("../img/icons/Arrow 7.svg") no-repeat;
          width: 26px;
          height: 13px;
          right: 22px;
          transform: rotate(180deg);
        }

        &:hover {
          background-color: #4a6f8d;
          transition: .3s;
        }
      }
      .footer-inp__download {
        background-color: inherit;
        border: 1px solid #fff;
        margin-top: 20px;
        transition: .3s;
        &:after {

          background: url("../img/icons/download-icon.svg") no-repeat;
          width: 21px;
          height: 16.5px;
          right: 18px;
        }

        &:hover {
          border-color: #8D9AA5;
          color: #4a6f8d;
          transition: .3s;
        }
      }
    }
  }

  .footer__floor {}
}