.footer {
  display: flex;
  overflow: hidden;
  background-color: #6A737A;
  padding-top: 80px;
  padding-bottom: 20px;
  .container {
    flex-direction: column;

  }
  .footer__head {
    display: flex;
    flex-direction: row;
    width: 100%;
    .logos__container {
      width: 132px;
      text-align: center;
      .social__logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 28px;
        padding-top: 36px;

        img {
          width: 24px;
        }
      }
    }
    .lists__container {
      display: flex;
      column-gap: 50px;
      padding-left: 120px;
      padding-right: 84px;
      color: #fff;
      padding-bottom: 80px;
      
      @media (max-width: 1500px) {
        column-gap: 0;
        padding-right: 20px;
      }
      .lists__container__col__1, .lists__container__col__2 {
        width: 150px;
      }
      .lists__container__col__3, .lists__container__col__4 {
        width: 209px;
      }
      .list-title {
        font-size: 1.12rem;
        line-height: 1.7rem;
        font-weight: 400;
        padding-bottom: 15px;
      }
      .list-item {
        font-size: .88rem;
        line-height: 1rem;
        padding-bottom: 10px;
      }
      .marketing-contacts {
        padding-top: 22px;
      }
      .trading-contacts {
        padding-top: 49px;
      }
      .site-navigation {
        .site-navigation__link {
          color: #fff;
          position: relative;
          cursor: pointer;

          &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            width: 0;
            background-color: #fff;
            bottom: -1px;
            transition: .3s;
          }

          &:hover {
              &:after {
                width: 100%;
                transition: .6s;
              }
          }
        }
      }

    }
    .footer-inputs__container {
      @media (max-width: 1360px) {
        display: none;
      }
      .inp {
        width: 262px;
        height: 54px;
        color: #fff;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: .88rem;
        cursor: pointer;
        transition: .3s;
        padding-left: 20px;
        position: relative;


        &:after {
          content: '';
          display: block;
          position: absolute;
        }

      }
      .footer-btn {
        display: none;
      }
      .footer-inp__watch {
        background-color: #6B97BB;
        &:after {
          background: url("../img/icons/Arrow 7.svg") no-repeat;
          width: 26px;
          height: 13px;
          right: 22px;
          transform: rotate(180deg);
        }

        &:hover {
          background-color: #4a6f8d;
          transition: .3s;
        }
      }
      .footer-inp__download {
        background-color: inherit;
        border: 1px solid #fff;
        margin-top: 20px;
        transition: .3s;
        &:after {

          background: url("../img/icons/download-icon.svg") no-repeat;
          width: 21px;
          height: 16.5px;
          right: 18px;
        }

        &:hover {
          border-color: #8D9AA5;
          color: #4a6f8d;
          transition: .3s;
        }
      }
    }
  }

  .footer__floor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;

    .footer-copyright {
      font-size: .88rem;
      font-weight: 300;
    }
    .footer-languages__container {
      height: 17px;
      padding-left: 126px;
      .lang {
        display: none;
        &:checked + .lang-inp {
          opacity: 1;
          padding: 0 8px;
          font-weight: 300;
          &:after, &:before {
            height: 10px;
            bottom: 3px;
            transition: .6s;

          }

        }
      }

      .lang-inp {
        font-size: .88rem;
        text-transform: uppercase;
        opacity: 0.4;
        position: relative;
        &:after, &:before {
          content: '';
          position: absolute;
          display: block;
          height: 0;
          width: 1px;
          background-color: #fff;
        }
        &:after {
          right: 0;
        }
        &:before {
          left: 0;
        }
      }
    }
    .site__support {
      display: flex;
      align-items: center;
      font-size: .75rem;
      font-weight: 400;
      column-gap: 4px;
      letter-spacing: -.5px;
    }
  }
}