.container {
	display: flex;
	width: 1300px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	overflow: hidden;
	font-family: "Gotam pro", sans-serif;
}
.big {
	width: 1500px;

}
.sticky {
	position: sticky;
}
.section__title {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	font-weight: 400;
	color: #40474E;
	text-transform: uppercase;
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 200px;
		height: 1px;
		background: #8D9AA5;
		right: -224px;
		top: 50%;
	}
}
.link__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 54px;
	border: 1px solid #6B97BB;
	font-size: .9rem;
	color: #6B97BB;
	text-transform: uppercase;
	&:hover {
		color: #AA182C;
		border: 1px solid #40474E;
		transition: .3s;
	}
}
@media (max-width: 1500px) {
	.container {
		width: 1360px;
	}
	.big {
		width: inherit;
	}
}
@media (max-width: 1360px) {
	.container {
			width: 1200px;
	}

}
@media (max-width: 1200px) {
	.container{
		width: 1140px;
	}

}
@media (max-width: 970px) {
	.container{
		width: 760px;

	}
}


@media (max-width: 768px) {
	.container {
		width: 560px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 360px;
		overflow: visible;
	}
}
@import 'fonts';
@import './header.scss';
@import './preview-section.scss';
@import './projects-section.scss';
@import './blog-section.scss';
@import './instagram-section.scss';


