.container {
	display: flex;
	width: 1300px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	overflow: hidden;
	font-family: "Gotam pro", sans-serif;
}
.big {
	width: 1500px;

}
.sticky {
	position: sticky;
}

@media (max-width: 1500px) {
	.container {
		width: 1360px;
	}
	.big {
		width: inherit;
	}
}
@media (max-width: 1360px) {
	.container {
			width: 1200px;
	}

}
@media (max-width: 1200) {
	.container{
		width: 1140px;
	}

}
@media (max-width: 970px) {
	.container{
		width: 760px;

	}
}


@media (max-width: 768px) {
	.container {
		width: 560px;
	}
}

@media (max-width: 480px) {
	.container {
		width: 360px;
		overflow: visible;
	}
}
@import 'fonts';
@import './header.scss';
@import './preview-section.scss';


